{% extends 'base.html' %}
{% load static %}
{% block content %}
	<!-- Start All Pages -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>Contact</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Pages -->
	
	<!-- Start Contact -->
	<div class="map-full"></div>
	<div class="contact-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Contact</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<form action="{% url 'mysit:contact' %} " method="post">
					{% csrf_token %}
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<input type="text" name="name"  placeholder="Your Name" class="form-control">
								</div>                                 
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="text" name="subject" placeholder="Subject" class="form-control" >
								</div>                                 
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="email" name="email"  placeholder="Your Email" class="form-control">
								</div> 
							</div>
							<div class="col-md-12">
								<div class="submit-button text-center">
									{{form.massage|safe}}	
									<ul class="messages">
										{% for message in messages %}
										{% if message.tags == 'error' %}
										<div class="alert alert-danger">
											<strong>Danger!</strong> {{message}}
										</div>
										{% endif %}
										{% if message.tags == 'success' %}
										<div class="alert alert-success">
											<strong>Success!</strong> {{message}}
										</div>
										{% endif %}
										{% endfor %}
									</ul>
									<div class="submit-button text-center">
										<a  class="btn btn-common">{{form.captcha}} </a>
										<button class="btn btn-common" type="submit">Send Message</button>
									</div>
								</div>
							</div>
						</div>     
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contact -->
{% endblock content %}

