{% extends 'base.html' %}
{% load static %}
{% block content %}
	<!-- Start All Pages -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>Reservation</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Pages -->
		<div class="reservation-box">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="heading-title text-center">
							<h2>Reservation</h2>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-sm-12 col-xs-12">
						<div class="contact-block">
							<form action="{% url 'mysit:reservation' %} " method="post" >
								{% csrf_token %}
								<div class="row">
									<div class="col-md-6">
										<div class="col-md-12">
											<div class="form-group">
												<input type="text" placeholder="Your Numbar"  class="form-control" name="phone_number" required data-error="Please enter your Numbar">
												<div class="help-block with-errors"></div>
											</div> 
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<input type="number" name="number_people" value="1" class="time form-control picker__input" required data-error="Please enter time">
												<div class="help-block with-errors"></div>
											</div>                                 
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<select class="custom-select d-block form-control" name="theme" required data-error="Please select Person">
												  <option disabled selected>Select Person*</option>
												  <option value="birth">birth</option>
												  <option value="busines">busines</option>
												  <option value="appointment">appointment</option>
												  <option value="party">party</option>
												</select>
												<div class="help-block with-errors"></div>
											</div> 
										</div>
									</div>
									<div class="col-md-6">
										<div class="col-md-12">
											<div class="form-group">
												<input type="text" class="form-control"  name="name" placeholder="Your Name" required data-error="Please enter your name">
												<div class="help-block with-errors"></div>
											</div>                                 
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<input type="text" placeholder="Your subject" class="form-control" name="subject" required data-error="Please enter your subject">
												<div class="help-block with-errors"></div>
											</div> 
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<input type="email" placeholder="Your Email" class="form-control" name="email" required data-error="Please enter your email">
												<div class="help-block with-errors"></div>
											</div> 
										</div>
									</div>
									<div class="col-md-12">
										<div class="submit-button text-center">
											{{forms.massage|safe}}
											<ul class="messages">
												{% for message in messages %}
												{% if message.tags == 'error' %}
												<div class="alert alert-danger">
													<strong>Danger!</strong> {{message}}
												</div>
												{% endif %}
												{% if message.tags == 'success' %}
												<div class="alert alert-success">
													<strong>Success!</strong> {{message}}
												</div>
												{% endif %}
												{% endfor %}
											</ul>
											<div class="submit-button text-center">
												<a  class="btn btn-common">{{forms.captcha}} </a>
												<button class="btn btn-common" type="submit">Send Message</button>
											</div>
										</div>
									</div>
								</div>            
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- End Reservation -->
{% endblock content %}
	