asgiref
autopep8
bleach
Brotli
calmjs.parse
csscompressor
Django>3.2,<3.3
django-appconf
django-compressor
django-debug-toolbar
django-extensions
django-multi-captcha-admin
django-ranged-response
django-robots
django-simple-captcha
django-summernote
django-taggit
html5lib
packaging
Pillow
ply
pycodestyle
pyparsing
pytz
rcssmin
rjsmin
six
slimit
sqlparse
sweetify
toml
webencodings
mysqlclient