asgiref
autopep8
bleach
Django>3.2,<3.3
django-debug-toolbar
django-multi-captcha-admin
django-ranged-response
django-robots
django-simple-captcha
django-summernote
packaging
Pillow
pycodestyle
pyparsing
pytz
six
sqlparse
sweetify
toml
webencodings
