{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load blog_tag %}
{% block content %}
	<!-- Start All Pages -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>Blog</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Pages -->
	
	<!-- Start blog details -->
	<div class="blog-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>{{Post_singl.name}} </h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-8 col-lg-8 col-12">
					<div class="blog-inner-details-page">
						<div class="blog-inner-box">
							<div class="side-blog-img">
								<img class="img-fluid" src="{{Post_singl.image.url}}" alt="">							
								<div class="date-blog-up">
									{{Post_singl.published_date|date:"N t" }}
								</div>
								<div class="date-blog-up" style="top: 394px;right: 631px;">
									Views.{{Post_singl.countent_views}}
								</div>
							</div>
							<div class="inner-blog-detail details-page">
							  	<h3>{{Post_singl.title|safe}} </h3>
								<ul>
									<li><i class="zmdi zmdi-account"></i><a href="{% url 'blog:author' author_username=Post_singl.author.username %}">Posted By :</a> <span>{{Post_singl.author.get_full_name}}</span></li>
									<li>|</li>
									<li><i class="zmdi zmdi-time"></i>Time : <span>{{Post_singl.published_date|date:"f A"}} </span></li>
								</ul>
								<p>{{Post_singl.content|safe}} </p>
							</div>
						</div>
						{% include "blog/comment_box/blog-comment-box.html" %}
						{% include "blog/comment_box/comment-respond-box.html" %}
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-12 blog-sidebar">
					<div class="right-side-blog">
						<h3>Search</h3>
							{% include "blog/side_bar/blog-search-form.html" %}
						<h3>Categories</h3>
							{% Categories_Post %}
						<h3>Recent Post</h3>
							{% Recent_Post %}
						<h3>Recent Tag</h3>
							{% include "blog/side_bar/blog-tag-box.html" %}
					</div>
				</div>
			
			</div>
		</div>
	</div>
	<!-- End details -->
{% endblock content %}